{% extends 'base.html.twig' %}

{% block title %}{% trans %}Establishment.add{% endtrans %}{% endblock %}

{% block body %}

    {{ form_start(form) }}

    {{ form_errors(form) }}

    {{ form_label(form.name, 'Establishment.name', []) }}
    {{ form_widget(form.name) }}

    {{ form_label(form.genre, 'Establishment.genre', []) }}
    {{ form_widget(form.genre) }}

    {{ form_label(form.save, 'Establishment.save', []) }}
    {{ form_widget(form.save) }}

    {{ form_end(form) }}

{% endblock %}