{% extends "base.html.twig" %}
{% block title %}{% trans %}Portefolio.title{% endtrans %}{% endblock %}

{% block body %}
<div class="container">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div>
            <h1>{% trans %}Portefolio.title{% endtrans %}</h1>
        </div>
        {% if portefolios|length > 1 %}
        <div class="btn-toolbar mb-2 mb-md-0">
            {% for pf in portefolios %}
                <a href="{{ path('trading_portefolio_id', { id: pf.id}) }}">
                    <button type="button" class="btn btn-sm btn-secondary">
                        <i class="fas fa-clipboard-list"></i>&nbsp;{{ pf.fs.name }}
                    </button>
                </a>
            {% endfor %}
        </div>
        {% else %}
        <div class="btn-toolbar mb-2 mb-md-0">
            <a href="{{ path('trading_portefolio') }}">
                <button type="button" class="btn btn-sm btn-secondary">
                    <i class="fas fa-clipboard-list"></i>&nbsp;{% trans %}Portefolio.complete{% endtrans %}
                </button>
            </a>
        </div>
        {% endif %}
    </div>
</div>

<!-- Open positions only -->
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-4 border-right">
                <div class="row">
                    <div class="col-sm-12 d-flex justify-content-center text-info">
                        {% trans %}Portefolio.header.cash{% endtrans %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 d-flex justify-content-center">
                        <h2 class="text-success">
                            {{ cash|format_currency('EUR', {rounding_mode: 'floor', fraction_digit: 2}, locale='fr') }}
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 border-right">
                <div class="row">
                    <div class="col-sm-12 d-flex justify-content-center text-info">
                        {% trans %}Portefolio.header.valuation{% endtrans %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 d-flex justify-content-center">
                        <h2 class="text-success">
                            {{ valuation|format_currency('EUR', {rounding_mode: 'floor', fraction_digit: 2}, locale='fr') }}
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-12 d-flex justify-content-center text-info">
                        {% trans %}Portefolio.header.total{% endtrans %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 d-flex justify-content-center">
                        <h2 class="text-success">
                            {{ total|format_currency('EUR', {rounding_mode: 'floor', fraction_digit: 2}, locale='fr') }}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body ml-0 mr-0 pl-0 pr-0">
        <table class="table table-hover table-striped table-bordered table-sm">
            <thead>
                <tr class="table-primary">
                    <th scope="col">{% trans %}Portefolio.tableheader.product{% endtrans %}</th>
                    <th scope="col">{% trans %}Portefolio.tableheader.quantity{% endtrans %}</th>
                    <th scope="col">{% trans %}Portefolio.tableheader.shareprice{% endtrans %}</th>
                    <th scope="col">{% trans %}Portefolio.tableheader.amount{% endtrans %}</th>
                    <th scope="col">{% trans %}Portefolio.tableheader.ucp{% endtrans %}</th>
                    <th scope="col">{% trans %}Portefolio.tableheader.unrealizedgl{% endtrans %}</th>
                    <th scope="col">{% trans %}Portefolio.tableheader.unrealizedglp{% endtrans %}</th>
                    <th scope="col">{% trans %}Portefolio.tableheader.diversification{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for portefolio in portefolios %}
                    {% for line in portefolio.linesPf %}
                        {% if line.status == true %}
                        <tr>
                            <th scope="rox">{{ line.stock.name }}</th>
                            <td>{{ line.quantity }}</td>
                            <td>
                                {{ line.sharePrice|format_currency(line.stock.currency.shortName, {fraction_digit: 2}, locale='fr') }}
                            </td>
                            <td>
                                {% if line.stock.currency.shortName == 'EUR' %} 
                                    {{ line.amount|format_currency(line.stock.currency.shortName, {fraction_digit: 2}, locale='fr') }}
                                {% else %}
                                    <div class="container">
                                        <div class="row">
                                            <small>
                                                {{ (line.quantity * line.sharePrice)|format_currency(line.stock.currency.shortName, {fraction_digit: 2}, locale='fr') }}
                                            </small>
                                        </div>
                                        <div class="row">
                                            <small>
                                                {{ line.amount|format_currency('EUR', {fraction_digit: 2}, locale='fr') }}
                                            </small>
                                        </div>
                                    </div>
                                {% endif %}
                            </td>
                            <td>
                                {{ line.ucp|format_currency(line.stock.currency.shortName, {fraction_digit: 2}, locale='fr') }}
                            </td>
                            <td class="{{ line.latentGl < 0 ? 'text-danger' : 'text-success' }}">
                                {{ line.latentGl|format_currency('EUR', {fraction_digit: 2}, locale='fr') }}
                            </td>
                            <td class="{{ line.latentGl < 0 ? 'text-danger' : 'text-success' }}">
                                {{ line.latentGlP|format_number(style='percent') }}
                            </td>
                            <td>
                                {{ (line.amount / valuation)|format_number({rounding_mode: 'floor', fraction_digit: 2}, 'percent') }}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12 d-flex justify-content-center">
                        <h5 class="text-success"><strong><i>{% trans %}Portefolio.chart.title.sector{% endtrans %}</i></strong></h5>
                    </div>
                </div>
                <div id="sector_chart" class="pb-3 border-bottom"></div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12 d-flex justify-content-center">
                        <h5 class="text-success"><strong><i>{% trans %}Portefolio.chart.title.dividend{% endtrans %}</i></strong></h5>
                    </div>
                </div>
                <div id="dividendchart" class="pb-3 border-bottom"></div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12 d-flex justify-content-center">
                        <h5 class="text-success"><strong><i>{% trans %}Portefolio.chart.title.valuation{% endtrans %}</i></strong></h5>
                    </div>
                </div>
                <div id="valuationchart" class="border-bottom"></div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12 d-flex justify-content-center">
                        <h5 class="text-success"><strong><i>{% trans %}Portefolio.chart.title.part{% endtrans %}</i></strong></h5>
                    </div>
                </div>
                <div id="partchart" class="border-bottom"></div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12 d-flex justify-content-center">
                        <h5 class="text-success"><strong><i>{% trans %}Portefolio.chart.title.geo{% endtrans %}</i></strong></h5>
                    </div>
                </div>
                <div id="geo_chart"></div>
            </div>
        </div>
    </div>
    <div class="card-footer p-0 m-0">
        <div class="row">
            <div class="col-md-4 border-right">
                <div class="row">
                    <div class="col-sm-6 d-flex flex-row-reverse text-info">
                        {% trans %}Portefolio.footer.irr{% endtrans %}
                    </div>
                    <div class="col-sm-6">
                        <p class="{{ xirr < 0 ? 'text-danger' : 'text-success' }} mb-0">
                            {{ xirr|format_number({rounding_mode: 'floor', fraction_digit: 2}, 'percent') }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 d-flex flex-row-reverse text-info">
                        {% trans %}Portefolio.footer.globalirr{% endtrans %}
                    </div>
                    <div class="col-sm-6">
                        <p class="{{ globalXirr < 0 ? 'text-danger' : 'text-success' }} mb-0">
                            {{ globalXirr|format_number({rounding_mode: 'floor', fraction_digit: 2}, 'percent') }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 border-right">
                <div class="row">
                    <div class="col-sm-6 d-flex flex-row-reverse text-info">
                        {% trans %}Portefolio.footer.creationdate{% endtrans %}
                    </div>
                    <div class="col-sm-6">
                        <p class="text-primary mb-0">
                            {{ creationDate|date("d/m/Y") }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 d-flex flex-row-reverse text-info">
                        {% trans %}Portefolio.footer.currentdate{% endtrans %}
                    </div>
                    <div class="col-sm-6">
                        <p class="text-primary mb-0">
                            {{ date|date("d/m/Y") }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-6 d-flex flex-row-reverse text-info">
                        {% trans %}Portefolio.footer.payments{% endtrans %}
                    </div>
                    <div class="col-sm-6">
                        <p class="text-primary mb-0">
                            {{ payments|format_currency('EUR', {rounding_mode: 'floor', fraction_digit: 2}, locale='fr') }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Close positions only -->
<button type="button" class="btn btn-secondary" data-toggle="collapse", data-target="#table-closed-lines-id" aria-expanded="false" aria-controls="table-closed-lines-id">
    {% trans %}Portefolio.closedlines{% endtrans %}
</button>
<div class="panel panel-default collapse" id="table-closed-lines-id">
    <table class="table table-hover table-striped table-bordered table-sm">
        <thead>
            <tr class="table-info">
                <th scope="col">{% trans %}Portefolio.tableheader.product{% endtrans %}</th>
                <th scope="col">{% trans %}Portefolio.tableheader.quantity{% endtrans %}</th>
                <th scope="col">{% trans %}Portefolio.tableheader.shareprice{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for portefolio in portefolios %}
            {% for line in portefolio.linesPf %}
            {% if line.status == false %}
            <tr>
                <th scope="rox">{{ line.stock.name }}</th>
                <td>{{ line.quantity }}</td>
                <td>{{ line.sharePrice }}</td>
            </tr>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>

<a href="{{ path('trading_transactions') }}">
    <button type="button" class="btn btn-secondary">
        {% trans %}Transactions.alltransactions{% endtrans %}
    </button>
</a>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {{ gc_draw(sectorpiechart, 'sector_chart') }}
        {{ gc_draw(geochart, 'geo_chart') }}
        {{ gc_draw(dividendchart, 'dividendchart') }}
        {{ gc_draw(valuationchart, 'valuationchart') }}
        {{ gc_draw(partchart, 'partchart') }}
    </script>
{% endblock %}