{% extends 'base.html.twig' %}

{% block title %}{% trans %}Transactions.title{% endtrans %}{% endblock %}

{% block body %}
<div class="container">
    <div>
        <h1>{% trans %}Transactions.title{% endtrans %} ({{ transactions|length }})!</h1>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        {% if arrayFs is defined %}
        <div class="btn-toolbar mb-2 mb-md-0">
            {% for fs in arrayFs %}
                <a href="{{ path('trading_transactions_fs', { id: fs.id}) }}">
                    <button type="button" class="btn btn-sm btn-secondary">
                        <i class="fas fa-clipboard-list"></i>&nbsp;{{ fs.name }}
                    </button>
                </a>
            {% endfor %}
        </div>
        <div>&nbsp;</div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#modal_transaction_dividend">
                <i class="fas fa-plus"></i>&nbsp;{% trans %}Transactions.form.dividend{% endtrans %}
            </button>
            <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#modal_transaction_money">
                <i class="fas fa-plus"></i>&nbsp;{% trans %}Transactions.form.money{% endtrans %}
            </button>
            <button type="button" class="btn btn-sm btn-outline-success" data-toggle="modal" data-target="#modal_transaction_stock">
                <i class="fas fa-plus"></i>&nbsp;{% trans %}Transactions.form.stock{% endtrans %}
            </button>
        </div>
        {% else %}
        <div></div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <a href="{{ path('trading_transactions') }}">
                <button type="button" class="btn btn-sm btn-secondary">
                    <i class="fas fa-clipboard-list"></i>&nbsp;{% trans %}Transactions.alltransactions{% endtrans %}
                </button>
            </a>
        </div>
        {% endif %}
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">{% trans %}Transactions.table.category{% endtrans %}</th>
                <th scope="col">{% trans %}Transactions.table.date{% endtrans %}</th>
                <th scope="col">{% trans %}Transactions.table.fs{% endtrans %}</th>
                <th scope="col">{% trans %}Transactions.table.name{% endtrans %}</th>
                <th scope="col">{% trans %}Transactions.table.price{% endtrans %}</th>
                <th scope="col">{% trans %}Transactions.table.quantity{% endtrans %}</th>
                <th scope="col">{% trans %}Transactions.table.amount{% endtrans %}</th>
                <th scope="col">{% trans %}Transactions.table.fee{% endtrans %}</th>
                <th scope="col">{% trans %}Transactions.table.debit{% endtrans %}</th>
                <th scope="col">{% trans %}Transactions.table.credit{% endtrans %}</th>
                <th scope="col">{% trans %}Transactions.table.balance{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% set balance = 0 %}{% set inc = true %}
            {% for transaction in transactions %}
                {% set balance = balance + transaction.credit - transaction.debit %}
                {% if inc == false %}
                    <tr class="table-secondary">
                    {% set inc = true %}
                {% else %}
                    <tr class="table-light">
                    {% set inc = false %}
                {% endif %}
                
                    <th class="rox">{{ transaction.category }}</td>
                    <td>{{ transaction.createAt|date("d/m/Y") }}</td>
                    <td>{{ transaction.financialService.name }}</td>
                    <td>
                        {% if transaction.stock is not null %}
                            {{ transaction.stock.name }}
                        {% else %}
                            
                        {% endif %}
                    </td>
                    <td>
                        {{ transaction.price is not null ? transaction.price|format_currency(transaction.stock.currency.shortName, 
                            {
                                rounding_mode: 'floor',  
                                min_fraction_digit: 2, 
                                max_fraction_digit: 4
                            }, 
                            locale='fr')
                        }}
                    </td>
                    <td>
                        {{ transaction.quantity }}
                    </td>
                    <td>
                        {{ transaction.amount|format_currency(transaction.stock is not null ? transaction.stock.currency.shortName : 'EUR', 
                            {
                                rounding_mode: 'floor',  
                                min_fraction_digit: 2, 
                                max_fraction_digit: 4
                            }, 
                            locale='fr')
                        }}
                        {% if transaction.brokerage is not null %}
                            ({{ transaction.brokerage is not null ? transaction.brokerage|format_currency('EUR', 
                                {
                                    rounding_mode: 'floor',  
                                    min_fraction_digit: 2, 
                                    max_fraction_digit: 4
                                }, 
                                locale='fr')
                            }})
                        {% endif %}
                    </td>
                    <td>
                        {{ transaction.fee is not null ? transaction.fee|format_currency('EUR', 
                            {
                                rounding_mode: 'floor',  
                                min_fraction_digit: 2, 
                                max_fraction_digit: 4
                            }, 
                            locale='fr')
                        }}
                    </td>
                    <td class="text-danger">
                        {{ transaction.debit is not null ? transaction.debit|format_currency('EUR', 
                            {
                                rounding_mode: 'floor',  
                                min_fraction_digit: 2, 
                                max_fraction_digit: 4
                            }, 
                            locale='fr')
                        }}
                    </td>
                    <td class="text-success">
                        {{ transaction.credit is not null ? transaction.credit|format_currency('EUR', 
                            {
                                rounding_mode: 'floor',  
                                min_fraction_digit: 2, 
                                max_fraction_digit: 4
                            }, 
                            locale='fr')
                        }}
                    </td>
                    <td>
                        {{ balance|format_currency('EUR', 
                            {
                                rounding_mode: 'floor',  
                                min_fraction_digit: 2
                            }, 
                            locale='fr')
                        }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include "trading/modal/form-transaction-stock.html.twig" %}
{% include "trading/modal/form-transaction-money.html.twig" %}
{% include "trading/modal/form-transaction-dividend.html.twig" %}
{% endblock %}