{% extends 'base.html.twig' %}

{% block title %}FacilEpargne{% endblock %}

{% block body %}
<div class="mt-3">
    <div class="jumbotron">
        <h1>Bienvenue sur FacilEpargne !</h1>
        <p>
            FacilEpargne est un projet de développement Web pour faciliter la tenue des comptes bancaires, des transactions boursières et autres...
        </p>
        <hr class="my-4">
        <p>
            Utilisez ce site comme une aide, comme un centralisateur de tous vos comptes, revenus et placements...
        </p>
    </div>
</div>
{% endblock %}
