<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <a class="navbar-brand" href="{{ path('homepage') }}">
        <i class="fas fa-dice-d20"></i>&nbsp;FacilEpargne</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {{ app.request.get('_route') == 'budget' ? 'active' }}" href="{{ path('budget')}}">
                    <i class="fas fa-balance-scale"></i>&nbsp;{% trans %}Header.budget{% endtrans %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ app.request.get('_route') == 'saving' ? 'active' }}" href="{{ path('saving')}}" >
                    <i class="fas fa-chart-line"></i>&nbsp;{% trans %}Header.savings{% endtrans %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ app.request.get('_route') == 'trading_portefolio' ? 'active' }}" href="{{ path('trading_portefolio') }}">
                    <i class="fas fa-dollar-sign"></i>&nbsp;{% trans %}Header.trading{% endtrans %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ app.request.get('_route') == 'life_insurance' ? 'active' }}" href="{{ path('life_insurance')}}" >
                    <i class="fas fa-chart-area"></i>&nbsp;{% trans %}Header.lifeinsurance{% endtrans %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ app.request.get('_route') == 'precious-metal' ? 'active' }}" href="{{ path('precious_metal')}}" >
                    <i class="fas fa-coins"></i>&nbsp;{% trans %}Header.preciousmetal{% endtrans %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ app.request.get('_route') == 'tax' ? 'active' }}" href="{{ path('tax')}}" >
                    <i class="fas fa-cash-register"></i>&nbsp;{% trans %}Header.taxes{% endtrans %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ app.request.get('_route') == 'real_estate' ? 'active' }}" href="{{ path('real_estate')}}" >
                    <i class="fas fa-building"></i>&nbsp;{% trans %}Header.realestate{% endtrans %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ app.request.get('_route') == 'configuration' ? 'active' }}" href="{{ path('configuration') }}">
                    <i class="fas fa-cogs"></i>&nbsp;{% trans %}Header.configuration{% endtrans %}
                </a>
            </li>
        </ul>
        <div class="row">
            {% if app.user %}
                <ul class="navbar-nav my-2 my-lg-0 ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProfil" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{{ app.user.picture }}" class="avatar avatar-min mr-1" alt="Avatar du profil">{{app.user.fullname}}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfil">
                            <a class="dropdown-item" href="{{ path('account_index') }}">
                                <i class="fas fa-user"></i>&nbsp;{% trans %}User.profile{% endtrans %}
                            </a>
                            <a class="dropdown-item" href="{{ path('account_password') }}">
                                <i class="fas fa-list"></i>&nbsp;{% trans %}User.modifypwd{% endtrans %}
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">
                                <i class="fas fa-dollar-sign"></i>&nbsp;{% trans %}User.logout{% endtrans %}
                            </a>
                        </div>
                    </li>
                </ul>
            {% else %}
                <div class="btn-group">
                    <a href="{{ path('account_register') }}" class="btn btn-sm btn-outline-warning btn-primary">{% trans %}User.register{% endtrans %}</a>
                    <a href="{{ path('app_login') }}" class="btn btn-sm btn-outline-warning btn-primary">{% trans %}User.login{% endtrans %}</a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>