<div class="modal fade" id="modal_stock_add">
    <div class="modal-dialog" role="document">
        {{ form_start(formaddstock) }}
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans %}Configuration.add.stock{% endtrans %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_row(formaddstock.name) }}
                {{ form_row(formaddstock.shortName) }}
                {{ form_row(formaddstock.isinCode) }}
                {{ form_row(formaddstock.currency) }}
                {{ form_row(formaddstock.sector) }}
                {{ form_row(formaddstock.country) }}
                {{ form_row(formaddstock.createAt) }}
            </div>
            <div class="modal-footer">
                {{ form_row(formaddstock.save) }}
            </div>
            {{ form_end(formaddstock) }}
        </div>
    </div>
</div>