<div class="modal fade" id="modal_fs_add">
    <div class="modal-dialog" role="document">
        {{ form_start(formaddfs) }}
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans %}Configuration.add.fs{% endtrans %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_row(formaddfs.name) }}
                {{ form_row(formaddfs.genre) }}
                {{ form_row(formaddfs.createAt) }}
                {{ form_row(formaddfs.balance) }}
                {{ form_row(formaddfs.establishment) }}
            </div>
            <div class="modal-footer">
                {{ form_row(formaddfs.save) }}
            </div>
            {{ form_end(formaddfs) }}
        </div>
    </div>
</div>