<div class="modal fade" id="modal_currency_add">
    <div class="modal-dialog" role="document">
        {{ form_start(formaddcurrency) }}
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans %}Configuration.add.currency{% endtrans %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_row(formaddcurrency.name) }}
                {{ form_row(formaddcurrency.shortName) }}
                {{ form_row(formaddcurrency.abbreviation) }}
                {{ form_row(formaddcurrency.createAt) }}
            </div>
            <div class="modal-footer">
                {{ form_row(formaddcurrency.save) }}
            </div>
            {{ form_end(formaddcurrency) }}
        </div>
    </div>
</div>