<div class="modal fade" id="modal_establishment_add">
    <div class="modal-dialog" role="document">
        {{ form_start(formaddestablishment) }}
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans %}Configuration.add.establishment{% endtrans %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_row(formaddestablishment.name) }}
                {{ form_row(formaddestablishment.genre) }}
            </div>
            <div class="modal-footer">
                {{ form_row(formaddestablishment.save) }}
            </div>
            {{ form_end(formaddestablishment) }}
        </div>
    </div>
</div>