<div class="modal fade" id="modal_transaction_money">
    <div class="modal-dialog" role="document">
        {{ form_start(formtransmoney) }}
        {{ form_errors(formtransmoney) }}
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans %}Transaction.form.money.title{% endtrans %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">{{ form_row(formtransmoney.category) }}</div>
                        <div class="col-md-4">{{ form_row(formtransmoney.createAt) }}</div>
                        <div class="col-md-4">{{ form_row(formtransmoney.financialService) }}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">{{ form_row(formtransmoney.amount) }}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">{{ form_row(formtransmoney.description) }}</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12">{{ form_row(formtransmoney.save) }}</div>
                </div>
            </div>
            {{ form_row(formtransmoney._token) }}
            {{ form_end(formtransmoney, {'render_rest': false}) }}
        </div>
    </div>
</div>