<div class="modal fade" id="modal_transaction_stock">
    <div class="modal-dialog" role="document">
        {{ form_start(formtransstock) }}
        {{ form_errors(formtransstock) }}
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans %}Transaction.form.stock.title{% endtrans %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row mt-2">
                        <div class="col-md-12">{{ form_row(formtransstock.stock) }}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">{{ form_row(formtransstock.category) }}</div>
                        <div class="col-md-4">{{ form_row(formtransstock.createAt) }}</div>
                        <div class="col-md-4">{{ form_row(formtransstock.financialService) }}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">{{ form_row(formtransstock.price) }}</div>
                        <div class="col-md-4">{{ form_row(formtransstock.quantity) }}</div>
                        <div class="col-md-4">{{ form_row(formtransstock.exchange) }}</div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-4">{{ form_row(formtransstock.brokerage) }}</div>
                        <div class="col-md-4">{{ form_row(formtransstock.fee) }}</div>
                        <div class="col-md-4">{{ form_row(formtransstock.feeCategory) }}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">{{ form_row(formtransstock.description) }}</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12">{{ form_row(formtransstock.save) }}</div>
                </div>
            </div>
            {{ form_row(formtransstock._token) }}
            {{ form_end(formtransstock, {'render_rest': false}) }}
        </div>
    </div>
</div>