<div class="modal fade" id="modal_transaction_dividend">
    <div class="modal-dialog" role="document">
        {{ form_start(formtransdividend) }}
        {{ form_errors(formtransdividend) }}
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans %}Transaction.form.dividend.title{% endtrans %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row mt-2">
                        <div class="col-md-12">{{ form_row(formtransdividend.stock) }}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">{{ form_row(formtransdividend.category) }}</div>
                        <div class="col-md-4">{{ form_row(formtransdividend.createAt) }}</div>
                        <div class="col-md-4">{{ form_row(formtransdividend.financialService) }}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">{{ form_row(formtransdividend.price) }}</div>
                        <div class="col-md-4">{{ form_row(formtransdividend.quantity) }}</div>
                        <div class="col-md-4">{{ form_row(formtransdividend.exchange) }}</div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-4">{{ form_row(formtransdividend.addon) }}</div>
                        <div class="col-md-4">{{ form_row(formtransdividend.fee) }}</div>
                        <div class="col-md-4">{{ form_row(formtransdividend.feeCategory) }}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">{{ form_row(formtransdividend.description) }}</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12">{{ form_row(formtransdividend.save) }}</div>
                </div>
            </div>
            {{ form_row(formtransdividend._token) }}
            {{ form_end(formtransdividend, {'render_rest': false}) }}
        </div>
    </div>
</div>