<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        <link rel="icon" type="image/png" href="{{ asset('build/images/favicon-32x32.png')}}" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <!-- Header -->
        {{ include('partials/_header.html.twig') }}
        <!-- /Header -->

        <!-- Body -->
        <div class="container-fluid">
            <div class="row no-gutters row-full-height">
                <div class="col">
                    <div class="container">
                        <!-- Permet d'afficher des pop-up de succès juste avant l'affichage de notre page -->
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /Body -->
        
        <!-- Footer -->
        {{ include('partials/_footer.html.twig') }}
        <!-- /Footer -->

        <!-- Scripts -->
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
        <!-- /Scripts -->
    </body>
</html>
