{% extends 'base.html.twig' %}

{% block title %}{% trans %}Configuration.title{% endtrans %}{% endblock %}

{% block body %}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header">
                    <i class="fas fa-archway"></i>&nbsp;{% trans %}Configuration.stock{% endtrans %}
                </div>
                <div class="card-body">
                    <h4 class="card-title">{% trans %}Configuration.configure.stock{% endtrans %}</h4>
                    <p class="card-text">{% trans %}Configuration.text.stock{% endtrans %}</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_stock_add">
                        <i class="fas fa-plus"></i>&nbsp;{% trans %}Configuration.add.stock{% endtrans %}
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header">{% trans %}Configuration.establishment{% endtrans %}</div>
                <div class="card-body">
                    <h4 class="card-title">{% trans %}Configuration.configure.establishment{% endtrans %}</h4>
                    <p class="card-text">{% trans %}Configuration.text.establishment{% endtrans %}</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_establishment_add">
                        <i class="fas fa-plus"></i>&nbsp;{% trans %}Configuration.add.establishment{% endtrans %}
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header">{% trans %}Configuration.fs{% endtrans %}</div>
                <div class="card-body">
                    <h4 class="card-title">{% trans %}Configuration.configure.fs{% endtrans %}</h4>
                    <p class="card-text">{% trans %}Configuration.text.fs{% endtrans %}</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_fs_add">
                        <i class="fas fa-plus"></i>&nbsp;{% trans %}Configuration.add.fs{% endtrans %}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header">{% trans %}Configuration.currency{% endtrans %}</div>
                <div class="card-body">
                    <h4 class="card-title">{% trans %}Configuration.configure.currency{% endtrans %}</h4>
                    <p class="card-text">{% trans %}Configuration.text.currency{% endtrans %}</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_currency_add">
                        <i class="fas fa-plus"></i>&nbsp;{% trans %}Configuration.add.currency{% endtrans %}
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header">{% trans %}Configuration.empty{% endtrans %}</div>
                <div class="card-body">
                    <h4 class="card-title">{% trans %}Configuration.empty{% endtrans %}</h4>
                    <p class="card-text">{% trans %}Configuration.text.empty{% endtrans %}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header">{% trans %}Configuration.empty{% endtrans %}</div>
                <div class="card-body">
                    <h4 class="card-title">{% trans %}Configuration.empty{% endtrans %}</h4>
                    <p class="card-text">{% trans %}Configuration.text.empty{% endtrans %}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header">{% trans %}Configuration.empty{% endtrans %}</div>
                <div class="card-body">
                    <h4 class="card-title">{% trans %}Configuration.empty{% endtrans %}</h4>
                    <p class="card-text">{% trans %}Configuration.text.empty{% endtrans %}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header">{% trans %}Configuration.empty{% endtrans %}</div>
                <div class="card-body">
                    <h4 class="card-title">{% trans %}Configuration.empty{% endtrans %}</h4>
                    <p class="card-text">{% trans %}Configuration.text.empty{% endtrans %}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header">{% trans %}Configuration.empty{% endtrans %}</div>
                <div class="card-body">
                    <h4 class="card-title">{% trans %}Configuration.empty{% endtrans %}</h4>
                    <p class="card-text">{% trans %}Configuration.text.empty{% endtrans %}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal components -->
{% include "configuration/modal/form-modal-add-stock.html.twig" %}
{% include "configuration/modal/form-modal-add-fs.html.twig" %}
{% include "configuration/modal/form-modal-add-establishment.html.twig" %}
{% include "configuration/modal/form-modal-add-currency.html.twig" %}

{% endblock %}
